openapi: 3.0.3
info:
  title: Redocly Museum API
  description: API for managing museum operations and events, powered by Redocly.
  version: 1.0.0
servers:
  - url: https://api.redocly-museum.com/v1
    description: Production server for Redocly Museum API
paths:
  /museum-hours:
    get:
      summary: Retrieve Museum Hours
      description: Get current and upcoming operating hours for the museum.
      operationId: getMuseumHours
      tags:
        - Hours
      parameters:
        - name: startDate
          in: query
          description: Start date for filtering hours.
          required: false
          schema:
            type: string
            format: date
        - name: endDate
          in: query
          description: End date for filtering hours.
          required: false
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Successful response with museum hours data.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MuseumHours'
        '400':
          description: Bad request, invalid input.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    servers:
      - url: https://api.redocly-museum.com/v1
  /events:
    post:
      summary: Create Special Event
      description: Add a new special event to the museum's calendar.
      operationId: createSpecialEvent
      tags:
        - Events
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSpecialEventRequest'
      responses:
        '201':
          description: Event successfully created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpecialEvent'
        '400':
          description: Bad request, invalid input.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    servers:
      - url: https://api.redocly-museum.com/v1
  /events/{eventId}:
    get:
      summary: Get Event Details
      description: Retrieve details of a specific event by ID.
      operationId: getEventDetails
      tags:
        - Events
      parameters:
        - name: eventId
          in: path
          description: ID of the event to retrieve.
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successful response with event details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpecialEvent'
        '404':
          description: Event not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    servers:
      - url: https://api.redocly-museum.com/v1
components:
  schemas:
    MuseumHours:
      type: object
      properties:
        date:
          type: string
          format: date
        openingTime:
          type: string
          format: time
        closingTime:
          type: string
          format: time
    SpecialEvent:
      type: object
      properties:
        eventId:
          type: string
          format: uuid
        eventName:
          type: string
        eventDescription:
          type: string
        eventLocation:
          type: string
        eventDates:
          type: array
          items:
            type: string
            format: date
        eventPrice:
          type: number
          format: float
    CreateSpecialEventRequest:
      type: object
      properties:
        eventName:
          type: string
        eventDescription:
          type: string
        eventLocation:
          type: string
        eventDates:
          type: array
          items:
            type: string
            format: date
        eventPrice:
          type: number
          format: float
  servers:
    - url: https://api.redocly-museum.com/v1
      description: Production server for Redocly Museum API
