name: Validate museum OpenAPI description

on: [push, pull_request]

jobs:
  linting:
    runs-on: ubuntu-latest
    steps:
    ### Setup ############################################
    - name: Checkout
      uses: actions/checkout@v4
    - name: Setup node
      uses: actions/setup-node@v3
      with:
        node-version: 20.5.1
        cache: 'npm'
    - name: Install dependencies
      run: npm install
    - name: Install Speakeasy CLI
      run: curl -fsSL https://raw.githubusercontent.com/speakeasy-api/speakeasy/main/install.sh | sh
    - name: Install Spectral
      run: npm install -g @stoplight/spectral-cli
      ### General purpose linters ############################################
    - name: Run Redocly CLI linting
      run: npx @redocly/cli lint openapi.yaml --config redocly.yaml
      continue-on-error: true
    - name: Run Spectral linting
      run: spectral lint openapi.yaml --ruleset spectral-ruleset.yaml
      continue-on-error: true
    - name: Run Vacuum linting
      run: npx @quobix/vacuum lint openapi.yaml --ruleset vacuum-ruleset.yaml --details
      continue-on-error: true
    - name: Run Optic Linting
      env:
        OPTIC_TOKEN: ${{ secrets.OPTIC_TOKEN }}
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: npx @useoptic/optic run openapi.yaml
      continue-on-error: true
    ### Target tool linters ############################################
    - name: Run Readme linting
      run: npx rdme openapi:validate openapi.yaml
      continue-on-error: true
    - name: Run Speakeasy linting
      run: speakeasy lint openapi --schema=openapi.yaml
      continue-on-error: true
